@use '../../../styles/styles.scss' as styles;

.linkBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 240px;
    text-align: center;
    text-decoration: none;
    color: styles.$primary-blue; 
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;

    &__yellow{
        @extend .linkBox;
        background-color: styles.$primary-yellow;
        &:hover{
            color: styles.$primary-blue;
            background: darken(styles.$primary-yellow, 20%);
        }
    }

    &__light-blue{
        @extend .linkBox;
        background-color: styles.$primary-light-blue;

        &:hover{
            color: styles.$primary-blue;
            background: lighten(styles.$primary-light-blue, 10%);
        }
    }
}