@use '../abstracts/' as a;

.btn{
    padding: a.$button-padding;
    border:2px solid transparent;
    border-radius: a.$base-border-radius;
    cursor: pointer;   
    transition: 0.2s;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &:active{
        transform: translateY(-3px);
    }

    //Priary button styles
    &__primary{
        //Red button
        &--yellow{
            @extend .btn;
            background: a.$primary-yellow;
            color: a.$primary-blue;
            &:hover{
                color: a.$primary-blue;
                background: darken(a.$primary-yellow, 15%);
            }
        }
        &--dark{
            @extend .btn;
            background: a.$primary-dark;
            color: white;
            &:hover{
                color: white;
                background: darken(a.$primary-dark, 10%);
            }
        }
    }

    &__outline{
        &--yellow{
            @extend .btn;
            background-color: transparent;
            color: a.$primary-yellow;
            border: 2px solid a.$primary-yellow;
            &:hover{
                color: darken(a.$primary-yellow, 10%);
            }
        }

        &--beige{
            @extend .btn;
            background-color: transparent;
            color: a.$primary-beige;
            border: 2px solid a.$primary-beige;
            &:hover{
                color: a.$primary-dark;
                background-color: a.$primary-beige;
            }
        }
    }
}


.mat-mdc-icon-button.mat-mdc-button-base{
    color: a.$primary-dark;
}