<footer>
<div class="container--l footer">
    <div>
        <h4>Länkar</h4>
        <ul>
            <li><a routerLink=''>Hem</a></li>
            <li><a routerLink="/courses">Kurser</a></li>
            <li><a routerLink="/schedule">Ramschema</a></li>
        </ul>
    </div>
    <div>
        <h4>Hitta till oss</h4>
        <ul>
            <li>Adressvägen 13, 12 345</li>
            <li><a class="" href="tel:+46701234567">070-1234567</a></li>
            <li><a class="" href="mailto:info@rattviksuniv.se">info&#64;rattviksuniv.se</a></li>
        </ul>
    </div>
    <div>
        <h4>Öppettider</h4>
        <ul class="opening--hours">
            <li>Mån <span>07:00 - 21:30</span></li>
            <li>Tis <span>07:00 - 21:30</span></li>
            <li>Ons <span>07:00 - 21:30</span></li>
            <li>Tor <span>07:00 - 21:30</span></li>
            <li>Fre <span>07:00 - 21:30</span></li>
            <li>Lör <span>Stängt</span></li>
            <li>Sön <span>Stängt</span></li>
        </ul>
    </div>
</div>
</footer>