<div class="hero">
    <section class="container--l">
        <article>
            <h1 class="hero__title">Din resa börjar här</h1>
            <h2 class="hero__title--sub"> Utbildning för en hållbar framtid</h2>
            <p>Utforska våra innovativa utbildningar och upplev en akademisk resa som formar din framtid. Bli en del av vårt engagerande och stödjande universitetsgemenskap.</p>
            <button class="btn__primary--yellow">Våra kurser</button>
        </article>
        <img src="../../../assets/img/hero_image.jpg" alt="Studenter studerar och dricker kaffe.">
    </section>
</div>