@use '../../../styles/styles.scss' as styles;
.hero {
    background-color: styles.$primary-blue;
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-block: calc(styles.$section-padding * 2);
        gap: 2rem;

        @include styles.tablet {
            grid-template-columns: 1fr;
            padding-block: styles.$section-padding;

            article {
                order: 2;
            }
        }

        article{
            h1, h2 {
                max-width: 30rem;
                color: styles.$primary-yellow;
            }
            p{
                max-width: 54ch;
                color: styles.$white-color;
            }
        }
        img{
            border-radius: 30px 0 30px 0;
        }
    }
}
