@use 'breakpoints' as b;
@use 'variables' as v;

.container--l {
    width: min(100% - 1rem, b.$max-content-width);
    max-width: 1280px;
    margin-inline: auto;
  }

  .container--m {
    width: min(100%, 700px);
    margin-inline: auto;
  }

  .section{
    margin-block: v.$section-margin ;
  }

  .center{
    margin-inline: auto;
}

.center-text{
  text-align: center;
}
