$primary-light-blue: #00BFFF; //Slight grey
$primary-dark: #333F48; //Gray-black
$primary-blue: #00164F; //Blue
$primary-yellow: #FCFF56; //yellow
$primary-brown: #654C4F; //Brown
$primary-beige: #F5F7DC; //Beige
$white-color: #fff;

//Padding/Margin
$base-padding: 0.75rem;
$base-margin: 0.75rem;

$button-padding: ($base-padding * 1.75) ($base-padding * 2.25);
$section-padding: $base-padding * 4;
$section-margin: $base-margin * 4;


//Border-radius
$base-border-radius: 7px;