<div class="testimonial">
    <div class="container--l testimonial__content">
        <picture>
            <source srcset="../../../assets/img/profile_image.avif" type="image/avif">
            <img ngSrc="../../../assets/img/profile_image.jpg" alt="Studenter poserar för portätt." height="419" width="600" loading="lazy">
        </picture>
        <div>
            <h3 class="testimonial__content--title">Från en tidigare student.</h3>
            <blockquote>Att ta min magisterexamen i företagsekonomi vid Rättviks universitet var en av de bästa besluten i mitt liv. Den teoretiska kunskapen kombinerad med praktiska erfarenheter har verkligen förberett mig för en framgångsrik karriär. Universitetets stödjande miljö och nätverksmöjligheter var ovärderliga.
            <footer>
                <p>Alexander Svensson</p>
                <p>2023, Magisterexamen i företagsekonomi</p>
            </footer>
            </blockquote>
            <button class="btn__primary--light-blue" routerLink="/courses">Utforska Kurser</button>
         
        </div>
    </div>
</div>